.skills {
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    gap: 10px;
    padding: 2%
}

.skills > div {
    border: 1px solid white;
    display:inline-block;
    padding: 5px;
}

.wrapper h4{
    padding: 4%;
}


.skills > div:hover {
    transform: translate(0, -5%);
}