.listofprojects {
    display: flex;
    justify-content: center;
}

.listofprojects > div {
    border: 1px solid white;
    margin: 2%;
    padding: 1%;
    box-shadow: 10px 10px 15px rgb(149, 145, 145) ;
    transition: all 1 s linear;
}

.listofprojects > div:hover {
    transform: translate(0, -5%);
    box-shadow: 0 0 10px var(--secondary);
}